<section id="feature">
  <div class="container">
    <div class="row">
      <div class="features" style="padding-top: 100px">
        {{#each _embedded.6f50736a:explain}}
          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="feature-wrap">
              <i class="fa fa-bullhorn"></i>

              <h2>{{title}}</h2>

              <h3>{{subtitle}}</h3>
            </div>
          </div>
          <!--/.col-md-4-->
        {{/each}}
      </div>
      <!--/.services-->
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</section><!--/#feature-->